.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head {
  padding: 20px;
  font-weight: bold;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputs {
  margin: 5px;
}
